#content {
    position: relative;
    color: white;
    z-index: 10;
}

#fileupload {
    position: relative;
    z-index: 20;
}

#canvas1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#full {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
    border: 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
}
  
audio {
    margin-top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    position: relative;
    z-index: 20;
}

body {
    background-color: black;
    margin: 0;
}