@font-face {
    font-family: quicksandttf;
    src: url(Quicksand-VariableFont_wght.ttf);
}
#content {
    position: relative;
    color: white;
    z-index: 10;
}
.filecontainer {
    margin: 10px;
}
#fileupload {
    display: none;
}
.file-upload-label {
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-family: quicksandttf;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 20;
    position: relative;
    display: inline-block;
}
.file-upload-label:hover {
    background-color: rgb(66, 132, 255);
    box-shadow: 0 0 5px 5px rgba(84, 134, 184, 0.5);
}
.file-name-label {
    padding-left: 5px;
    font-family: quicksandttf;
    font-weight: bold;
    color: white;
}
#canvas1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
#full {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
    border: 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
}
audio {
    position: relative;
    left: 10px;
    width: calc(100% - 20px);
    z-index: 20;
}
body {
    background-color: black;
    margin: 0;
}